* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Outfit', sans-serif;
    background: hsl(0, 0%, 8%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card{
    /* box-sizing: border-box; */
    border-radius: 3%;
    background: hsl(0, 0%, 12%);
    width: 350px;
    height: 530px;
    /* height: auto; */
    
    display: flex; 
    align-items: center;
    
    flex-direction: column;
    color: white;
     
    
    
    
}
.jessica{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 15px;
}
.github{
    width: 90%;
    background: hsl(0, 0%, 20%);
    padding: 10px;
    /* align-self: center; */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center;
    border-radius: 4px;
    

}
  a{
    color: white;
    text-decoration: none;
 }

 .github:hover{
    background: hsl(75, 94%, 57%);
    transition: all 0.5s ease-in-out;
    color: black;
 }
 .github:focus{
    background: hsl(75, 94%, 57%);
    transition: all 0.5s ease-in-out;
    color: black;
 }

